// Colors
$petroleum: #161724;
$navy: #212335;
$dark-blue: #383b51;
$blue: #2196fd;
$bright-red: #f23641;
$red: #fb4b56;
$pale-red: #fc6973;
$yellow: #facf5a;
$green: #9cc00c;

$shaded-white: rgba(255, 255, 255, 0.48);
$border-white: rgba(255, 255, 255, 0.08);

// Gradients
$status-gradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.04) 0%,
  rgba(255, 255, 255, 0) 100%
);

// Type
$teko: 'Teko', Impact, Franklin Gothic Bold, sans-serif;
$poppins: 'Poppins', Arial, Helvetica, sans-serif;
$default-font: $poppins;

// Misc
$default-transition: all 300ms ease-in-out;
$opacity-transition: opacity 300ms ease-in-out;
$color-transition: color 300ms ease-in-out;

$default-radius: 2px;
$default-opacity: 0.6;

// Screen sizes
$desktop-max: 1920px;
$notebook-max: 1440px;
$notebook-mid: 1366px;
$notebook-min: 1280px;
$desktop-min: 1024px;
$mobile-max: 768px;
$mobile-mid: 420px;
$mobile-min: 320px;
