.player {
  width: 90vw;
  max-width: 1200px;
  margin: 100px auto;

  @media (max-width: $mobile-mid) {
    width: 100%;
    margin: 0;
  }

  &-wrapper {
    border: 1px solid $border-white;
    border-radius: $default-radius;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24),
      0px 16px 32px rgba(0, 0, 0, 0.24);
  }

  &-error {
    text-align: center;
    padding: 16px;
    border: 1px solid $pale-red;
    color: $red;
    line-height: 1.6;
  }

  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 18px;
    background-color: $navy;
    border-bottom: 1px solid $border-white;

    @media (max-width: $mobile-max) {
      flex-direction: column;
    }

    @media (max-width: $mobile-mid) {
      padding: 16px;
    }

    &--competitive {
      background: linear-gradient(
          180deg,
          rgba(73, 163, 253, 0.16) 0%,
          rgba(73, 163, 253, 0) 100%
        ),
        linear-gradient(
          90deg,
          #212335 17.54%,
          rgba(33, 35, 53, 0.64) 51.46%,
          #212335 82.67%
        ),
        url('../images/profile/header-bkg-competitive.png'), #212335;
      background-size: cover;
    }

    &--pro {
      background: linear-gradient(
          180deg,
          rgba(251, 75, 86, 0.08) 0%,
          rgba(251, 75, 86, 0) 100%
        ),
        linear-gradient(
          90deg,
          #212335 17.54%,
          rgba(33, 35, 53, 0.64) 51.46%,
          #212335 82.67%
        ),
        url('../images/profile/header-bkg-pro.png'), #212335;
      background-size: cover;
    }
  }

  &-sections {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    background-color: $navy;

    @media (max-width: $mobile-max) {
      flex-direction: column;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: $teko;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    &__icon {
      width: 24px;
      margin-right: 5px;

      svg {
        display: block;
        width: 100%;
      }
    }

    &__col {
      width: 33.33%;
      padding: 20px;
      border-left: 1px solid $border-white;

      @media (max-width: $mobile-max) {
        width: 100%;
        border-left: 0;
        border-top: 1px solid $border-white;
      }

      @media (max-width: $mobile-mid) {
        padding: 16px;
      }

      &:first-child {
        border: 0;
      }
    }
  }

  &-footer {
    background-color: $navy;
    padding: 16px;
    border-top: 1px solid $border-white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $mobile-max) {
      flex-direction: column;
    }

    &__left,
    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (max-width: $mobile-max) {
        margin-bottom: 20px;

        &:nth-of-type(2n) {
          margin-bottom: 0;
        }
      }
    }

    &__right {
      @media (max-width: $mobile-mid) {
        flex-direction: column;
      }
    }
  }
}
